*{
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:cadetblue;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

textarea{
  flex: 1;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  resize: none;
  margin: 40px 50px;
  border-radius: 10px;

}

#preview{
  flex: 1;
  padding: 20px;
  font-size: 16px;

  overflow-y: auto;
  margin: 10px 50px;
  border: 1px solid rgb(217, 204, 204);
  border-radius: 10px;
  background-color: white;
}
code{
  background-color: #999595;
  padding: 2px 4px;
  font-family: Consolas, "Courier New", mono;
}
